
.section-two {

    background-color: antiquewhite;
    text-align: center;
    padding: 90px;
}

.div-section-three {

    background-color:aliceblue;
    text-align: center;
    padding: 100px;
    
}

.collapsed{

    padding: 10px;
}

/*
To-do list styles.
*/

