body{
    background-image: url(Images/alley-day.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

#wrapper{
    display: block;
    margin-top:75%;
    align-items: center;
    background-color: aliceblue;
    color:black;
}

#part1{
    text-align: center;
}